<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Колонизация</title>
</head>
<body>
<header>
    <h1>Жди нас, Марс!</h1>
    <img src="../static/img/mars.png" alt="Марс" />
    <div class="p-2 mb-1 text-sm-start bg-secondary fw-bold font-monospace">Человечество вырастает из детства.</div>
    <div class="p-2 mb-1 text-sm-start bg-success fw-bold font-monospace">Человечеству мала одна планета.</div>
    <div class="p-2 mb-1 text-sm-start bg-light fw-bold font-monospace">Мы сделаем обитаемыми безжизненные пока планеты.</div>
    <div class="p-2 mb-1 text-sm-start bg-warning fw-bold font-monospace">И начнем с Марса!</div>
    <div class="p-2 mb-1 text-sm-start bg-danger fw-bold font-monospace">Присоединяйся!</div>
</header>
</body>
</html>